<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preservação do Patrimônio Histórico Local - PI Parnamirim</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>

  <!-- Cabecalho do Site -->
  <header class="cabecalho">

    <nav class="navbar navbar-expand-lg navbarp">
      <div class="container">

        <a class="navbar-brand logo-navbar" href="/">
          Potibala's
        </a>

        <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" 
          aria-expanded="false" 
          aria-label="Abrir menu">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">

          <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">

            <li class="nav-item">
              <a class="nav-link active" href="/">Início</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#patrimonios">Patrimônios</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/quiz">Quiz</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/materias">Matérias</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#sobre">Sobre o projeto</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>


    <div class="hero">

      <div class="hero-conteudo">

        <span class="hero-tag">PATRIMÔNIO • HISTÓRIA • CULTURA</span>

        <h1>
          Preservação do Patrimônio Histórico do
          <br>
          Rio Grande do Norte
        </h1>

        <p>
          Conheça a história, os patrimônios e a importância cultural
          do Rio Grande do Norte.
        </p>

      </div>

    </div>

  </header>

  <main class="container-b">
    
    <!-- Secao de Patrimonios Historicos -->
  <section class="secao" id="patrimonios">

    <div class="titulo-secao">
      <span>PATRIMÔNIOS</span>
      <h2>Patrimônios Históricos do RN</h2>
      <p>
        Conheça alguns dos locais que fazem parte da história da cidade.
      </p>
    </div>

    <div class="row g-4">

        {% for materia in materias %}

            <div class="col-md-6 col-lg-4">

                <article class="card-monumento">

                    <img
                        src="{{ url_for('static', filename='imagens/' + materia.imagem) }}"
                        alt="{{ materia.titulo }}"
                    >

                    <div class="card-conteudo">

                        <span class="categoria">
                            {{ materia.categoria }}
                        </span>

                        <h3>
                            {{ materia.titulo }}
                        </h3>

                        <p>
                            {{ materia.texto }}
                        </p>

                        <a
                            href="{{ url_for('main.materia', id=materia.id) }}"
                            class="btn-card"
                        >
                            Saiba mais →
                        </a>

                    </div>

                </article>

            </div>

        {% endfor %}

    </div>

  </section>
  </main>

  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>