<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preservação do Patrimônio Histórico Local</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header class="cabecalho">
    <h1>Preservação do Patrimônio Histórico Local</h1>
    <p>Projeto Integrador - IFRN Campus Parnamirim</p>
  </header>

  <main class="container">
    
    <section class="secao">
      <h2>Patrimônios Históricos de Parnamirim</h2>
      
      <article class="card-monumento">
        <h3>Base Aérea e Trampolim da Vitória</h3>
        <p class="texto-historico">
          Durante a Segunda Guerra Mundial, Parnamirim abrigou a maior base aérea dos EUA fora do seu território. A região ficou conhecida como "Trampolim da Vitória" pela posição estratégica no Atlântico.
        </p>
        <div class="galeria-fotos">
          <div class="foto-item">
            <img src="-----" alt="Base Aérea histórica">
            <span>Anos 1940 (Segunda Guerra)</span>
          </div>
          <div class="foto-item">
            <img src="-----" alt="Base Aérea atualmente">
            <span>Dias Atuais</span>
          </div>
        </div>
      </article>

      <article class="card-monumento">
        <h3>Centro de Lançamento da Barreira do Inferno (CLBI)</h3>
        <p class="texto-historico">
          Fundado em 1965 no litoral de Parnamirim, foi a primeira base de lançamento de foguetes da América do Sul, marco da pesquisa espacial brasileira.
        </p>
        <div class="galeria-fotos">
          <div class="foto-item">
            <img src="------" alt="Barreira do Inferno antiga">
            <span>Lançamento nos anos 60</span>
          </div>
          <div class="foto-item">
            <img src="-----" alt="Barreira do Inferno atual">
            <span>Entrada do CLBI</span>
          </div>
        </div>
      </article>

    </section>

    <section class="secao">
      <h2>Quiz da História Local</h2>
      <div class="caixa-quiz">
        <p class="pergunta"></p>
        
        <div class="opcoes"></div>

        <div id="mensagem-feedback" class="feedback oculto"></div>
      </div>
    </section>

  </main>

  <script src="script.js"></script>
</body>
</html>